		<!-- page banner area start -->
		<div class="page-banner">
			<img src="img/slider/bg3.jpg" alt="Page Banner" />
		</div>
		<!-- page banner area end -->
		<!-- cart page content section start -->
		<section class="cart-page section-padding">
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<div class="row">
							<div class="single-check responsive">
								<form action="#" method="post">
									<div class="single-input p-bottom50 clearfix">
										<div class="col-xs-12">
											<div class="check-title">
												<h3>Đăng nhập</h3>
											</div>
										</div>
										<div class="col-sm-6">
											<label>Email:</label>
											<div class="input-text">
												<input type="text" name="email" />
											</div>
										</div>
										<div class="col-sm-6">
											<label>Password:</label>
											<div class="input-text">
												<input type="password" name="mật khẩu" />
											</div>
										</div>
										<div class="col-xs-12">
											<div class="submit-text">
												<input type="submit" name="submit" value="Đăng nhập">
											</div>
										</div>
									</div>
									<div class="single-input p-bottom50 clearfix">
										<div class="col-xs-12">
											<div class="check-title">
												<h3>Địa chỉ hóa đơn</h3>
											</div>
										</div>
										<div class="col-sm-6">
											<label>Họ:</label>
											<div class="input-text">
												<input type="text" name="name" />
											</div>
										</div>
										<div class="col-sm-6">
											<label>Tên:</label>
											<div class="input-text">
												<input type="text" name="name" />
											</div>
										</div>
										<div class="col-xs-12">
											<label>tên công ty:</label>
											<div class="input-text">
												<input type="text" name="company" />
											</div>
										</div>
										<div class="col-xs-12">
											<label>Địa chỉ:</label>
											<div class="input-text">
												<input type="text" name="address" />
											</div>
										</div>
										<div class="col-xs-12">
											<label>Thành phố/Tỉnh:</label>
											<div class="input-text">
												<input type="text" name="city" />
											</div>
										</div>
										<div class="col-sm-6">
											<label>Email:</label>
											<div class="input-text">
												<input type="text" name="email" />
											</div>
										</div>
										<div class="col-sm-6">
											<label>Số điện thoại:</label>
											<div class="input-text">
												<input type="text" name="phone" />
											</div>
										</div>
										<div class="col-xs-12">
											<div class="billing-checkbox">
												<input type="checkbox" name="billing-address" value="1" class="checkbox">
												<label>Sử dụng địa chỉ này</label>
											</div>
											<div class="submit-text">
												<input type="submit" name="submit" value="Tiếp tục">
											</div>
										</div>
									</div>
									<div class="single-input clearfix">
										<div class="col-xs-12">
											<div class="check-title">
												<h3>Địa chỉ giao hàng</h3>
											</div>
										</div>
										<div class="col-sm-6">
											<label>Họ:</label>
											<div class="input-text">
												<input type="text" name="name" />
											</div>
										</div>
										<div class="col-sm-6">
											<label>Tên:</label>
											<div class="input-text">
												<input type="text" name="name" />
											</div>
										</div>
										<div class="col-xs-12">
											<label>Công ty:</label>
											<div class="input-text">
												<input type="text" name="company" />
											</div>
										</div>
										<div class="col-xs-12">
											<label>Địa chỉ:</label>
											<div class="input-text">
												<input type="text" name="address" />
											</div>
										</div>
										<div class="col-xs-12">
											<label>Thành phố/Tỉnh:</label>
											<div class="input-text">
												<input type="text" name="city" />
											</div>
										</div>
										<div class="col-xs-12">
											<label>Ghi chú:</label>
											<div class="input-text margin-none">
												<textarea name="message" rows="3"></textarea>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="single-check p-bottom50 clearfix">
							<div class="check-title">
								<h3>Đơn của bạn</h3>
							</div>
							<div class="table-responsive table-two">
								<table class="order-table text-center">
									<thead>
										<tr>
											<th>Sản phẩm</th>
											<th>số lượng</th>
											<th>Tổng cộng</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td class="td-text">
												<div class="trash">
													<i class="fa fa-trash"></i>
												</div>
												<div class="order-dsc">
													<p><a href="#">Sensor Carbon Jenson GX1 Bike</a></p>
												</div>
											</td>
											<td>
												<div class="qty-input">
													<form action="#" method="post">
														<input type="text" value="1" />
													</form>
												</div>
											</td>
											<td>$170.00</td>
										</tr>
										<tr>
											<td class="td-text">
												<div class="trash">
													<i class="fa fa-trash"></i>
												</div>
												<div class="order-dsc">
													<p><a href="#">Sensor Carbon Jenson GX1 Bike</a></p>
												</div>
											</td>
											<td>
												<div class="qty-input">
													<form action="#" method="post">
														<input type="text" value="1" />
													</form>
												</div>
											</td>
											<td>$170.00</td>
										</tr>
										<tr>
											<td class="td-text">
												<div class="trash">
													<i class="fa fa-trash"></i>
												</div>
												<div class="order-dsc">
													<p><a href="#">Sensor Carbon Jenson GX1 Bike</a></p>
												</div>
											</td>
											<td>
												<div class="qty-input">
													<form action="#" method="post">
														<input type="text" value="1" />
													</form>
												</div>
											</td>
											<td>$170.00</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="single-check p-bottom50">
							<div class="check-title">
								<h3>mã giảm giá</h3>
							</div>
							<div class="single-input check-coupon">
								<form action="#" method="post">
									<div class="input-text">
										<input type="text" name="coupon" />
									</div>
									<div class="submit-text">
										<input type="submit" name="submit" value="Gửi">
									</div>
								</form>
							</div>
						</div>
						<div class="single-check p-bottom50">
							<div class="check-title">
								<h3>Tổng cộng giỏ hàng</h3>
							</div>
							<div class="subtotal clearfix">
								<p>Tổng cộng giỏ hàng<strong class="floatright">$170.00</strong></p>
								<p>Phí giao hàng<strong class="floatright">free delivery</strong></p>
								<p>Tổng cộng<strong class="floatright"><span>$170.00</span></strong></p>
							</div>
						</div>
						<div class="single-check accordion-one">
							<ul id="accordion" class="panel-group clearfix">
								<li class="panel">
									<div data-toggle="collapse" data-parent="#accordion" data-target="#collapse1">
										<div class="custom-radio radio-in">
											<input id="male" type="radio" name="gender" value="male">
											<label for="male"><span>Nhập tiền khi giao hàng</span></label>
										</div>
									</div>
									<div class="panel-collapse collapse in" id="collapse1">
										<div class="prayment-dsc">
											<p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.</p>
										</div>
									</div>
								</li>
								<li class="panel">
									<div data-toggle="collapse" data-parent="#accordion" data-target="#collapse2">
									<div class="custom-radio">
										<input id="female" type="radio" name="gender" value="female">
										<label for="female"><span>Cheque Payment</span></label>
									</div>
									</div>
									<div class="panel-collapse collapse" id="collapse2">
										<div class="prayment-dsc">
											<p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.</p>
										</div>
									</div>
								</li>
								<li class="panel">
									<div data-toggle="collapse" data-parent="#accordion" data-target="#collapse3">
									<div class="custom-radio">
										<input id="female2" type="radio" name="gender" value="female2">
										<label for="female2"><span>Paypal</span></label>
									</div>
									</div>
									<div class="panel-collapse collapse" id="collapse3">
										<div class="prayment-dsc">
											<p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.</p>
											<div class="mayment-card">
												<ul>
													<li><a href="#"><img src="img/footer/v1.png" alt="Payment Card" /></a></li>
													<li><a href="#"><img src="img/footer/v2.png" alt="Payment Card" /></a></li>
													<li><a href="#"><img src="img/footer/v3.png" alt="Payment Card" /></a></li>
													<li><a href="#"><img src="img/footer/v4.png" alt="Payment Card" /></a></li>
												</ul>
											</div>
										</div>
									</div>
								</li>
							</ul>
							<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum</p>
							<div class="order-btn">
								<a class="btn-style" href="#">Đặt hàng</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- cart page content section end -->