    <!-- page banner area start -->
    <div class="page-banner">
      <img src="img/slider/bg3.jpg" alt="Page Banner" />
    </div>
    <!-- page banner area end -->
    <!-- forget password section start -->
    <section class="login-page section-padding">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="col-sm-6">
              <label>Nhập email:</label>
                <div class="input-email">
                  <input type="text" name="email">
                </div>
                <div class="submit-email">
                  <input type="submit" name="submit" value="gửi">
                </div>
            </div>
          </div>
        </div>
      </div>
    </section>      
    <!-- forget password section end -->
    