		<!-- page banner area start -->
		<div class="page-banner">
			<img src="img/slider/bg3.jpg" alt="Page Banner" />
		</div>
		<!-- page banner area end -->
		<!-- cart page content section start -->
		<section class="login-page section-padding">
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<div class="row">
							<div class="single-check">
								<form action="my-account.html" method="post">
									<div class="single-input p-bottom50 clearfix">
										<div class="col-xs-12">
											<div class="check-title">
												<h3>Đăng nhập</h3>
											</div>
										</div>
										<div class="col-xs-12">
											<label>Email:</label>
											<div class="input-text">
												<input type="text" name="email" />
											</div>
										</div>
										<div class="col-xs-12">
											<label>Mật khẩu:</label>
											<div class="input-text">
												<input type="password" name="password" />
											</div>
										</div>
										<div class="col-xs-12">
											<div class="forget">
												<a href="../forget-pass">Quên mật khẩu?</a>
											</div>
										</div>
										<div class="col-xs-12">
											<div class="submit-text">
												<input type="submit" name="submit" value="Đăng nhập">
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="single-input p-bottom50 clearfix">
							<form action="my-account.html" method="post">
								<div class="row">
									<div class="col-xs-12">
										<div class="check-title">
											<h3>Khác hàng mới</h3>
										</div>
									</div>
									<div class="col-sm-6">
										<label>Họ:</label>
										<div class="input-text">
											<input type="text" name="name" />
										</div>
									</div>
									<div class="col-sm-6">
										<label>Tên:</label>
										<div class="input-text">
											<input type="text" name="name" />
										</div>
									</div>
									<div class="col-xs-12">
										<label>Địa chỉ:</label>
										<div class="input-text">
											<input type="text" name="address" />
										</div>
									</div>
									<div class="col-xs-12">
										<label>Thành phố/ Tỉnh:</label>
										<div class="input-text">
											<input type="text" name="city" />
										</div>
									</div>
									<div class="col-sm-6">
										<label>Email:</label>
										<div class="input-text">
											<input type="text" name="email" />
										</div>
									</div>
									<div class="col-sm-6">
										<label>Số điện thoại:</label>
										<div class="input-text">
											<input type="text" name="phone" />
										</div>
									</div>
									<div class="col-xs-12">
										<div class="billing-checkbox">
											<input type="checkbox" name="billing-address" value="1" class="checkbox">
											<label>Đăng kí nhận bản tin từ chúng tôi!</label>
										</div>
										<div class="submit-text">
											<input type="submit" name="submit" value="Đăng kí">
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- cart page content section end -->