		<!-- page banner area start -->
		<div class="page-banner">
			<img src="img/slider/bg3.jpg" alt="Page Banner" />
		</div>
		<!-- page banner area end -->
		<!-- my account page content section start -->
		<section class="account-page section-padding">
			<div class="container">
				<div class="account-title">
					<h3>Tài khoản của tôi</h3>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<div class="single-check m-bottom50">
							<div class="row">
								<form action="#" method="post">
									<div class="single-input clearfix">
										<div class="col-xs-12">
											<div class="check-title">
												<h3>Địa chỉ hóa đơn</h3>
												<p>Thêm địa chỉ mới bên dưới</p>
											</div>
										</div>
										<div class="col-sm-6">
											<label>Họ:</label>
											<div class="input-text">
												<input type="text" name="name" />
											</div>
										</div>
										<div class="col-sm-6">
											<label>Tên:</label>
											<div class="input-text">
												<input type="text" name="name" />
											</div>
										</div>
										<div class="col-sm-6">
											<label>Email:</label>
											<div class="input-text">
												<input type="text" name="email" />
											</div>
										</div>
										<div class="col-sm-6">
											<label>Số đện thoại:</label>
											<div class="input-text">
												<input type="text" name="phone" />
											</div>
										</div>
										<div class="col-xs-12">
											<label>Quốc gia:</label>
											<div class="input-text">
												<input type="text" name="country" />
											</div>
										</div>
										<div class="col-xs-12">
											<label>Địa chỉ:</label>
											<div class="input-text">
												<input type="text" name="address" />
											</div>
										</div>
										<div class="col-xs-12">
											<label>Thành phố/Tỉnh:</label>
											<div class="input-text">
												<input type="text" name="city" />
											</div>
										</div>
										<div class="col-xs-12">
											<label>Thông tin bổ sung:</label>
											<div class="input-text">
												<textarea name="message" rows="3"></textarea>
											</div>
										</div>
										<div class="col-xs-12">
											<div class="submit-text">
												<input type="submit" name="submit" value="lưu">
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
						<div class="single-check responsive">
							<div class="order-history check-title">
								<h3>Lịch sử mua hàng</h3>
								<span>bạn không có đơn đặt hàng nào.</span>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="single-check m-bottom50">
							<div class="row">
								<form action="#" method="post">
									<div class="single-input clearfix">
										<div class="col-xs-12">
											<div class="check-title">
												<h3>Thông tin cá nhân</h3>
												<p>Cập nhật thông tin cá nhân của tài khoản</p>
											</div>
											<div class="social-title mail-femail">
												<span>* Giới tính</span>
												<div class="custom-radio">
													<input id="male" type="radio" name="gender" value="Male">
													<label for="male"><span>Nam</span></label>
													<input id="female" type="radio" name="gender" value="Female">
													<label for="female"><span>Nữ</span></label>
												</div>
											</div>
										</div>
										<div class="col-xs-12">
											<label>Họ và tên:</label>
											<div class="input-text">
												<input type="text" name="name" />
											</div>
										</div>
										<div class="col-xs-12">
											<label>Email:</label>
											<div class="input-text">
												<input type="text" name="email" />
											</div>
										</div>
										<div class="col-xs-12">
											<div class="date-birth">
												<label>Ngày tháng năm sinh:</label>
												<div class="row">
													<div class="col-sm-4">
														<div class="custom-select">
															<select class="form-control">
																<option>1</option>
																<option>2</option>
																<option>3</option>
																<option>4</option>
																<option>5</option>
																<option>6</option>
																<option>7</option>
																<option>8</option>
																<option>9</option>
																<option>10</option>
																<option>11</option>
																<option>12</option>
																<option>13</option>
																<option>14</option>
																<option>15</option>
																<option>16</option>
																<option>17</option>
																<option>18</option>
																<option>19</option>
																<option>20</option>
																<option>21</option>
																<option>22</option>
																<option>23</option>
																<option>24</option>
																<option>25</option>
																<option>26</option>
																<option>27</option>
																<option>28</option>
																<option>29</option>
																<option>30</option>
															</select>
														</div>
													</div>
													<div class="col-sm-4">
														<div class="custom-select">
															<select class="form-control">
																<option>tháng 1</option>
																<option>tháng 2</option>
																<option>tháng 3</option>
																<option>tháng 4</option>
																<option>tháng 5</option>
																<option>tháng 6</option>
																<option>tháng 7</option>
																<option>tháng 8</option>
																<option>tháng 9</option>
																<option>tháng 10</option>
																<option>tháng 11</option>
																<option>tháng 12</option>
															</select>
														</div>
													</div>
													<div class="col-sm-4">
														<div class="custom-select">
															<select class="form-control">
																<option>1990</option>
																<option>1991</option>
																<option>1992</option>
																<option>1993</option>
																<option>1994</option>
																<option>1995</option>
																<option>1996</option>
																<option>1997</option>
																<option>1998</option>
																<option>1999</option>
																<option>2000</option>
																<option>2001</option>
																<option>2002</option>
																<option>2003</option>
																<option>2004</option>
																<option>2005</option>
																<option>2006</option>
																<option>2007</option>
																<option>2008</option>
																<option>2009</option>
																<option>2010</option>
																<option>2011</option>
																<option>2012</option>
																<option>2013</option>
																<option>2014</option>
																<option>2016</option>
																<option>2016</option>
																<option>2017</option>
																<option>2018</option>
																<option>2019</option>
																<option>2020</option>
															</select>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="col-xs-12">
											<label>Mật khẩu hiện tại:</label>
											<div class="input-text">
												<input type="password" name="password" />
											</div>
										</div>
										<div class="col-xs-12">
											<label>Mật khẩu mới:</label>
											<div class="input-text">
												<input type="password" name="password" />
											</div>
										</div>
										<div class="col-xs-12">
											<label>Xác nhận lại mật khẩu:</label>
											<div class="input-text">
												<input type="password" name="password" />
											</div>
										</div>
										<div class="col-xs-12">
											<div class="sing-checkbox">
												<label>
													<input type="checkbox" name="rememberme">
													Đăng kí nhận thông tin từ chúng tôi! 
												</label>
											</div>
											<div class="submit-text">
												<input type="submit" name="submit" value="Save">
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- my account page content section end -->